$body-bg: hsl(0, 0%, 96%);
$main-bg: hsl(0, 0%, 100%);
$border-color: hsl(0, 0%, 0%);
$shadow-color: hsla(0, 0%, 53%, 0.5);
$header-color: hsl(206, 64%, 37%);
$link-color: hsl(206, 64%, 37%);
$link-hover: hsl(38, 96%, 42%);
$remove-button: hsl(16, 100%, 50%);
$font-color: hsl(0, 0%, 0%);
$inverse-font-color: hsl(0, 0%, 100%);
$go-button: hsl(120, 61%, 50%);